<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IBookService" />
                <binding name="BasicHttpBinding_IBookService1" />
                <binding name="BasicHttpBinding_IBookService2" />
                <binding name="BasicHttpBinding_IBookService3" />
                <binding name="BasicHttpBinding_IBookService4" />
                <binding name="BasicHttpBinding_IBookService5" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:58318/Services/BookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookService"
                contract="BookService.IBookService" name="BasicHttpBinding_IBookService" />
            <endpoint address="http://localhost:58318/Services/BookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookService1"
                contract="BooksService.IBookService" name="BasicHttpBinding_IBookService1" />
            <endpoint address="http://localhost:58318/Services/BookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookService2"
                contract="ServiceReference1.IBookService" name="BasicHttpBinding_IBookService2" />
            <endpoint address="http://localhost:58318/Services/BookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookService3"
                contract="ServiceReference1.IBookService" name="BasicHttpBinding_IBookService3" />
            <endpoint address="http://localhost:58318/Services/BookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookService4"
                contract="ServiceReference1.IBookService" name="BasicHttpBinding_IBookService4" />
            <endpoint address="http://localhost:58318/Services/BookService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBookService5"
                contract="BookService.IBookService" name="BasicHttpBinding_IBookService5" />
        </client>
    </system.serviceModel>
</configuration>